/data
/log
/temp
/bin/*
!/bin/custom
!/config
!/config/local.properties
!/config/localextensions.xml
!config/tomcat/conf/server.xml
!config/tomcat/conf/wrapper*.conf
config/.classpath
config/.project
config/customize/
config/languages/
config/licence/
config/readme.txt
config/solr/
config/tcServer/
config/tomcat/README.txt
config/tomcat/conf/jmxremote.access
config/tomcat/conf/jmxremote.password
config/tomcat/conf/server-minimal.xml
config/tomcat/conf/web.xml
config/tomcat/conf/server.xml
config/tomcat/conf/wrapper.conf
config/tomcat/conf/wrapper-debug.conf
config/tomcat/conf/wrapper-jprofiler.conf
config/tomcat/conf/wrapper-minimal.conf
config/tomcat/conf/wrapper-yourkitprofiler.conf
config/tomcat/tomcat_context.tpl
**/classes
**/gensrc
**/jalo
**/testclasses
**/addons
**/eclipsebin
**/build.xml
**/extensioninfo.xsd
**/platformhome.properties
**/hmc.xsd
**/beans.xsd
**/items.xsd
**/*.-testclasses.xml
**/*.-webtestclasses.xml
**/.DS_Store

rebel.xml
.pmd
.springBeans
**/*.eml
**/*.iml

*.class
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log

.idea/
.idea/*
workspace
config/backup/
config/tomcat/
bin/custom/addon/*/.gitignore
bin/custom/yongda/yongdastorefront/build.xml
bin/custom/yongda/yongdastorefront/platformhome.properties
bin/custom/yongda/yongdastorefront/resources/wro_addons.xml
bin/custom/yongda/yongdastorefront/web/webroot/cockpit/
bin/custom/yongda/yongdastorefront/web/webroot/cmscockpit/
bin/custom/yongda/yongdastorefront/web/addonsrc/*
bin/custom/yongda/yongdastorefront/web/commonwebsrc/acceleratorstorefrontcommons/*
bin/custom/yongda/yongdastorefront/web/webroot/_ui/responsive/theme-alpha/css/style.css
bin/custom/yongda/yongdastorefront/web/webroot/_ui/responsive/theme-lambda/css/style.css
bin/custom/backoffice/yongdabackoffice/resources/backoffice/yongdabackoffice_bof.jar
bin/custom/integration/yongdacommercewebservices/web/addonsrc/*
bin/custom/integration/lstmallbackoffice/resources/backoffice/lstmallbackoffice_bof.jar

bin/custom/yongda/yongdacommercewebservices/web/addonsrc/*
bin/custom/yongda/yongdainitialdata/.classpath
bin/custom/yongda/yongdainitialdata/.externalToolBuilders/HybrisCodeGeneration.launch
bin/custom/yongda/yongdainitialdata/.settings/org.eclipse.core.resources.prefs
bin/custom/yongda/yongdainitialdata/.settings/org.eclipse.jdt.core.prefs
bin/custom/yongda/yongdacore/.project

